<!DOCTYPE html>
<html>
    <head>
        <title>UniBookStore - Change Password</title>
        {include="head"}
    </head>
    <body>
        <!-- Menu -->
        {include="menu"}

        <!-- Big image -->
        <div id="big-image"></div>

        <!-- Content -->
        <div id="content">
            <div id="content-top" class="pure-g-r">
                <div class="pure-u-1-2">
                    <h1>Welcome to UniBookStore</h1>
                </div>
                <!-- Shopping cart -->
                {include="shopping-cart"}
            </div>
            <div class="pure-g-r">
                <!-- Sidebar -->
                {include="sidebar"}
                <!-- Actual content -->
                <div class="pure-u-3-4">
                    <div id="actual-content">
                        <h2>Change Password</h2>
                        {if="$failure"}
                        <p class="failure">Unable to change password.</p>
                        {/if}
                        <form method="post" action="/admin/change-password" class="pure-form pure-form-aligned">
                            <input type="hidden" name="id" value="{$product->id}" />
                            <div class="pure-control-group">
                                <label for="current-password">Current Password</label>
                                <input id="current-password" type="password" name="current-password" autocomplete="off" />
                            </div>
                            <div class="pure-control-group">
                                <label for="new-password">New Password</label>
                                <input id="new-password" type="password" name="new-password" autocomplete="off" />
                            </div>
                            <div class="pure-control-group">
                                <label for="confirm-new-password">Confirm New Password</label>
                                <input id="confirm-new-password" type="password" name="confirm-new-password" autocomplete="off" />
                            </div>
                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Change password</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {include="footer"}
    </body>
</html>
