<!DOCTYPE html>
<html>
    <head>
        <title>UniBookStore - Search results</title>
        {include="head"}
    </head>
    <body>
        <!-- Menu -->
        {include="menu"}

        <!-- Big image -->
        <div id="big-image"></div>

        <!-- Content -->
        <div id="content">
            <div id="content-top" class="pure-g-r">
                <div class="pure-u-1-2">
                    <h1>Welcome to UniBookStore</h1>
                </div>
                <!-- Shopping cart -->
                {include="shopping-cart"}
            </div>
            <div class="pure-g-r">
                <!-- Sidebar -->
                {include="sidebar"}
                <!-- Actual content -->
                <div class="pure-u-3-4">
                    <div id="actual-content">
                        <h2>Search results</h2>

                        {loop="results"}
                        <div class="product-block">
                            <a href="/product/{$value->id}"><img src="/css/empty.png" width="80" height="80" /></a>
                            <p class="name"><a href="/product/{$value->id}">{$value->name}</a> ${$value->price}</p>
                            <p class="description">{$value->description}</p>
                            {if="$value->author"}
                            <p class="author">Author: {$value->author}</p>
                            {/if}
                            {if="$value->isbn"}
                            <p class="isbn">ISBN: {$value->isbn}</p>
                            {/if}
                            <div class="clear"></div>
                        </div>
                        {else}
                        <p>No search results for "{$search_query}"</p>
                        {/loop}
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {include="footer"}
    </body>
</html>
